/*Importing Google web font roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Description
1. Root settings
2. Body, html settings
3. Buttons
4. Navbar
5.
6.
7.
*/

/*1. Root settings*/
*{
font-family: roboto;

/*No invisble borders, margins or padding on the box*/
box-sizing: border-box;
/*Declare the colors on the website */
    --one: #026873;

    --two: #0596A6;

    --three: #03A6A6;

    --four: #222d38;

    --five: #DAD3C8;

    --black: black;

    --six: #726651;

    --white: #ffffff;

}
/*Above Validated 2022-09-08 10:33*/

/*2. Body, html settings*/
body, html{
    /*Make it so that all space is stretched*/
    margin:0;
    padding:0;
    /*no overflow*/
    overflow-x: hidden;
    height:100%;
    /*Using my pre-decided colors using "var() function*/
    background-color: var(--five);
}

/*Above Validated 2022-09-08 10:53*/

/*3. Buttons*/
/*Button 1*/

.btn {
    border: none;

    background-color:var(--six);
    
    /*Rounded edges on box/button*/
    border-radius:8px;

    display:inline-block;
    /*Show visually that an element is clickable*/
    cursor:pointer;

    color:#ffffff;

    font-size:20px;

    font-weight:bold;

    padding:13px 32px;

    text-decoration:none;   

}




/*Button 2*/

.btn2 {

    border: none;

    background-color:var(--black);

    border-radius:8px;

    display:inline-block;

    cursor:pointer;

    color:#ffffff;

    font-size:20px;

    font-weight:bold;

    padding:13px 32px;

    text-decoration:none;

}

/*Above Validated 2022-09-08 11:02*/

/*4. Navbar*/
/*Navbar with flex method*/
.navbar{
    display: flex;
    justify-content: space-between;
    height:8vh;
    width: 100%;
    position: fixed;
    align-items: center;
    margin: 0 auto;
    background-color: var(--four);
    /*Placing objects in order/layers*/
    z-index:999;
    top:0;
    left:0;
    transition: 0.3s ease-in-out;
}

/*Logo/title settings*/
.brand-title{
 font-size: 1.5rem;
 color:var(--white);
 font-weight: bold;
 margin-left: 2vw;
 
}

/*Clarify that the backround on the links is in the same color as the navbar itself*/
.navbar-links{
    height:100%;
    background-color:var(four);
}

/*Adjusting the link settings*/

.navbar-links ul{
    display:flex;
    padding:0; 
    margin-top: 1vh;
   
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color:var(--white);
    padding: 0.5rem;
    margin:2vw;
}

.navbar-links li:hover{
    text-decoration: underline;
}

/*Only visible in responsive mode, handled by javascript*/
.toggle-button{
    /*The absolute means it will always be in the position that you have decided
    therefore we need to use the top, right, bottom, left rule*/
    position: absolute;
    top: .75rem;
    right:1rem;
    /*Display none can be used everywhere and anytime but mostly when we
    want an element to be shown at a certain pixel widht (responsive)*/
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height:21px;

}

/*Creating the bar style*/
.toggle-button .bar{
    height:3px;
    width: 100%;
    background-color: var(--white);
    border-radius: 10%;
    
}

/*Make the navbar responsive*/
@media screen and (max-width: 400px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        
    }

    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
        height:20vh;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li{
        text-align: center;
    }

    .navbar-links ul li a{
        padding: .05rem 1rem;
    }

    .navbar-links.active{
        display: flex;
        background-color: var(--four);
      
    }

    .brand-title{
        margin-top: 2vw;
    }

}
/*Validated Ok*/











